@use './colors.scss';

h1 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 48px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 32px;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
    color: colors.$accent-dark;
}

.small {
    font-size: 14px;
}

a {
    color: colors.$accent-dark;
}
