<h1>Warenkorb</h1>

<div class="items" *ngIf="!isEmpty">
    <h2 class="total">Summe: {{ totalPrice }} €</h2>

    <aside *ngFor="let item of items" class="cart-item">
        <mat-icon class="figure">{{ item.product.data.icon }}</mat-icon>
        <section class="stats">
            <h3>{{ item.product.data.name }}</h3>
            <div class="quantity">
                <aside>
                    <span>Menge:</span>
                    <mat-form-field>
                        <mat-select [ngModel]="item.quantity" (ngModelChange)="updateItemWithQuantity($event, item)">
                            <mat-option *ngFor="let q of item.product.quantitiySelection" [value]="q">{{
                                q
                            }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </aside>
            </div>
        </section>
        <h2 class="price">Preis: {{ item.product.calculatePriceByQuantity(item.quantity) }} €</h2>
        <button mat-icon-button class="delete" color="warn" (click)="removeItem(item)" matTooltip="Produkt löschen">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
    </aside>
</div>

<div class="empty" *ngIf="isEmpty">
    <article>Dein Warenkorb ist leer. <a routerLink="">Hier</a> geht es zu den Produkten.</article>
    <app-empty-logo></app-empty-logo>
</div>
