@use '../../styles/colors.scss';

:host {
    .items,
    .empty {
        margin-top: 32px;

        @media (max-width: 500px) {
            margin-top: 16px;
        }
    }

    .empty {
        article {
            margin-bottom: 32px;
        }
    }

    .items {
        display: flex;
        flex-direction: column;
        position: relative;

        .total {
            position: absolute;
            top: -32px;
            right: 0;

            @media (max-width: 800px) {
                top: -48px;
            }

            @media (max-width: 500px) {
                position: static;
                margin-bottom: 8px;
            }
        }

        .cart-item {
            display: flex;
            margin-bottom: 16px;
            border: 1px solid colors.$shadow;
            border-radius: 4px;
            padding: 8px 16px;
            box-sizing: border-box;
            width: 64%;
            position: relative;

            @media (max-width: 800px) {
                width: 100%;
            }

            @media (max-width: 500px) {
                flex-wrap: wrap;
            }

            .delete {
                position: absolute;
                top: 0;
                right: 0;
            }

            .figure {
                font-size: 48px;
                height: 48px;
                width: 48px;
                margin-right: 48px;
                align-self: center;
            }

            .stats {
                aside {
                    display: flex;
                    align-items: center;
                }
            }

            .quantity {
                span {
                    margin-right: 16px;
                }

                mat-form-field {
                    width: 48px;
                }
            }

            .price {
                align-self: flex-end;
                text-align: end;
                width: 100%;
            }
        }
    }
}
