<h3>{{ title }}</h3>

<article *ngIf="data.minimumQuantity > 1">Das Produkt kann nur ab einer bestimmten Menge bestellt werden.</article>
<article class="sale" *ngIf="data.hasSale || data.hasSuperSale">Sparangebot:</article>
<article *ngIf="data.hasSale" class="small">
    {{ data.saleQuantity }} für {{ data.saleCost * data.saleQuantity }} €.
</article>
<article *ngIf="data.hasSuperSale" class="small">
    {{ data.superSaleQuantity }} für {{ data.superSaleCost * data.superSaleQuantity }} €.
</article>

<div class="quantity">
    <span>Menge:</span>
    <mat-form-field>
        <input matInput type="number" [min]="data.minimumQuantity" [formControl]="quantityForm" />
    </mat-form-field>
</div>

<div class="actions">
    <button mat-flat-button color="primary" [disabled]="!quantityForm.valid" (click)="addToCart()">Bestätigen</button>
    <button mat-flat-button mat-dialog-close>Abbrechen</button>
</div>
