:host {
    display: flex;
    flex-direction: column;

    .quantity {
        margin-top: 16px;
        display: flex;
        align-items: center;

        @media (max-width: 720px) {
            flex-wrap: wrap;
        }

        mat-form-field {
            width: 64px;
            margin: 0 24px 0 8px;
        }
    }

    .sale {
        margin-top: 16px;
    }

    .actions {
        margin-top: 16px;
        align-self: flex-end;

        button:last-of-type {
            margin-left: 8px;
        }
    }
}
