<h3>{{ title }}</h3>

<article class="sale" *ngIf="product.hasSale || product.hasSuperSale">Sparangebot:</article>
<article *ngIf="product.hasSale" class="small">
    {{ product.data.saleQuantity }} für {{ product.data.saleCost * product.data.saleQuantity }} €.
</article>
<article *ngIf="product.hasSuperSale" class="small">
    {{ product.data.superSaleQuantity }} für {{ product.data.superSaleCost * product.data.superSaleQuantity }} €.
</article>

<div class="quantity">
    <span>Menge:</span>
    <mat-form-field>
        <input matInput type="number" [min]="product.minimumQuantity" [formControl]="quantityForm" />
    </mat-form-field>
</div>

<div class="actions">
    <button mat-flat-button color="primary" [disabled]="!quantityForm.valid" (click)="addToCart()">Bestätigen</button>
    <button mat-flat-button mat-dialog-close>Abbrechen</button>
</div>
