<h3>{{ title }}</h3>

<div class="sale" *ngIf="product.hasSale">
    <article>Sparangebot:</article>
    <article class="small" *ngFor="let option of product.prioritizedSaleOptions">
        {{ option.quantity }} für {{ getSalePrice(option) }} €.
    </article>
</div>

<div class="quantity">
    <span>Menge:</span>
    <mat-form-field>
        <mat-select [formControl]="quantityForm">
            <mat-option *ngFor="let q of product.quantitiySelection" [value]="q">{{ q }}</mat-option>
        </mat-select>
    </mat-form-field>
    <span>Preis (pro Stück): {{ product.data.cost }} €</span>
</div>

<div class="actions">
    <button mat-flat-button color="primary" [disabled]="!quantityForm.valid" (click)="addToCart()">Bestätigen</button>
    <button mat-flat-button mat-dialog-close>Abbrechen</button>
</div>
