@use '../../styles/colors.scss';

:host {
    height: 240px;
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid colors.$shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s box-shadow;
    cursor: pointer;

    @media (max-width: 800px) {
        width: 286px;
    }

    @media (max-width: 500px) {
        width: 100%;
    }

    &:hover {
        box-shadow: 0px 0px 6px 0px colors.$shadow;
    }

    .sale,
    .price,
    .sale-only,
    .shop {
        position: absolute;
    }

    .sale {
        top: 8px;
        right: 8px;
        color: colors.$yellow;
    }

    .figure {
        font-size: 48px;
        height: 48px;
        width: 48px;
    }

    .price,
    .sale-only {
        bottom: 12px;
        right: 8px;
    }

    .shop {
        bottom: 8px;
        left: 8px;
    }
}
