<mat-icon
    matTooltip="Mengenrabatt verfügbar"
    class="material-icons-outlined sale"
    *ngIf="product.hasSale || product.hasSuperSale"
    >new_releases</mat-icon
>

<mat-icon class="material-icons-outlined figure">{{ product.data.icon }}</mat-icon>

<h3>{{ product.data.name }}</h3>

<article class="price">{{ product.data.cost }} €</article>

<button mat-icon-button color="primary" class="shop" (click)="addToCart()" matTooltip="Zum Warenkorb hinzufügen">
    <mat-icon>add_shopping_cart</mat-icon>
</button>
