:host {
    display: flex;
    flex-direction: column;

    .loading {
        margin: 32px 0;
        align-self: center;
    }

    .data {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 500px) {
            flex-wrap: nowrap;
            flex-direction: column;
        }

        app-product {
            margin-right: 16px;
            margin-bottom: 16px;

            @media (max-width: 500px) {
                margin-right: 0;
            }
        }
    }
}
